body {
  background-color: #c6e5d9;
}

input {
  font-size: 20px;
  color: #e94e77;
  border: 1px solid #e94e77;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f4ead5;
  font-family: 'Simonetta';
}

button {
  background-color: #e94e77;
  border-radius: 5px;
  color: #f4ead5;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  max-width: 100px;
  margin-top: 10px;
  font-family: 'Simonetta';
}

button:hover {
  cursor: pointer;
}

.gadget-container {
  background-color: #c6e5d9;
  font-family: 'Simonetta';
  font-size: 20px;
  color: #e94e77;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-end;
  margin-top: 40px;
}

label {
  font-size: 15px;
}

p {
  margin: 5px 0;
}

.single-character-inputs {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.single-character-input {
  width: 20px;
  margin: 0 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

select {
  border: 1px solid #e94e77;
  border-radius: 5px;
  background-color: #f4ead5;
  color: #e94e77;
  font-size: 15px;
  font-family: 'Simonetta';
  margin-top: 10px;
}

.brown {
  color: #c6a49a;
}

.menu-item {
  background: none;
  border: none;
  color: #c6a49a;
  max-width: fit-content;
}

.selected-menu-item {
  background: none;
  border: none;
  max-width: fit-content;
  color: #e94e77;
  font-size: 30px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
